<!DOCTYPE html>{% load hass_tags %}
<html>
  <head>
    <title>HADJ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/jquery-mobile-hadj/hadj.min.css" />
    <link rel="stylesheet" href="/static/jquery-mobile-hadj/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/static/css/jquery.mobile.custom.structure.min.css" />
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery.mobile.custom.min.js"></script>
    <script>

      $(function(){
        $("[data-role='navbar']").navbar();
        $("[data-role='footer']").toolbar();
      });

    </script>
  </head>

  <body>
  {% render_tabs %}
  </body>
</html>